{% extends 'accounts/base.html' %}

{% block title %}
  About me update
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h1> Update profile </h1>

        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit">
                    Update
                </button>
            </form>
        </div>

<!--        <div>-->
<!--            <a href="{% url 'accounts:profile_update' %}">-->
<!--                Back to user info #{{ object.pk }}</a>-->
<!--        </div>-->
    {% else %}
        <h2>User is anonymoys</h2>
    {% endif %}

{% endblock %}

