{% extends 'accounts/base.html' %}

{% block title %}
  Users list
{% endblock %}

{% block body %}
    <h1> Users list </h1>
    {% if not users %}
    <h3> There is no users yet </h3>
  {% else %}
      <div>
      {% for user in users %}
        <div>
          <p>
            <a href="{% url 'accounts:userprofile' username=user.username %}">
              {{ user.username }}
            </a>
            {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">
            {% else %}
            preview: no avatar
            {% endif %}
          </p>
        </div>
      {% endfor %}

  {% endif %}
  </div>

<!--    {% if perms.shopapp.add_product %}-->
<!--    <div>-->
<!--      <a href="{% url 'shopapp:create_product' %}">-->
<!--        Create a new product-->
<!--      </a>-->
<!--    </div>-->
<!--  {% endif %}-->


{% endblock %}