{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  About me
{% endblock %}

{% block body %}
    <h1> Profile </h1>
        <p>Username: {{ user_profile.username }}</p>
        <p>First name: {{ user_profile.first_name }}</p>
        <p>Last name: {{ user_profile.last_name }}</p>
        <p>Email: {{ user_profile.email }}</p>
        <p>Bio: {{ user_profile.profile.bio }}</p>

        <div>
            {% if user_profile.profile.avatar%}
            <img src="{{ user_profile.profile.avatar.url }}" alt="{{ user_profile.profile.avatar.name }}">
            {% else %}
            Avatar: no avatar
            {% endif %}
        </div>
    <br><br>
    <div>
        {% if perms.accounts.change_avatar or user.is_staff or user_profile.pk == user.pk %}
        <a href="{% url 'accounts:profile_update' pk=user_profile.pk %}">
            Update profile </a>
        {% endif %}
    </div>
    <br>
    <div>
        <a href="{% url 'accounts:users_list' %}">
              Users list </a>
    </div>

{% endblock %}