{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  About me
{% endblock %}

{% block body %}
    <h1> User info</h1>

    {% if user.is_authenticated %}
        <h2>Detail</h2>
        <p>Username: {{ user.username }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Bio: {{ user.profile.bio }}</p>

        <div>
            {% if user.profile.avatar%}
            <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">
            {% else %}
            Avatar: no avatar
            {% endif %}
        </div>
    <br><br>
    <div>
        <a href="{% url 'accounts:profile_update' username=user.username%}">
            Update profile </a>
    </div>
    <br>
    <div>
        <a href="{% url 'accounts:users_list' %}">
              Users list </a>
    </div>

    {% else %}
        <h2>User is anonymoys</h2>
    {% endif %}
{% endblock %}




