{% extends 'shopapp/base.html' %}

{% block title %}
    Confirm order delete {{ object.name }}
{% endblock %}

{% block body %}
  <h1>Are you sure you want to delete {{ object.name }}?</h1>

  <br>
  <div>
<!--  <a href="{% url 'shopapp:product_details' pk=object.pk %}">-->
<!--      Back to product #{{ object.pk }}</a>-->
      <a href="{% url 'shopapp:order_details' pk=object.pk %}"><button>Cancel</button></a>
      <br><br>
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Delete</button>
      </form>
  </div>
{% endblock %}

