{% extends 'shopapp/base.html' %}

{% block title %}
    Products list
{% endblock %}

{% block body %}
    <h1> Products: </h1>
    {% if not products %}
        <h3> There is no products yet </h3>
    {% else %}
        <div>
            {% for product in products %}
                <div>
                    <p>Name:{{ product.name }}
                    Price:{{ product.price }}
                    Discount:{% firstof product.discount 'no discount' %}
                    Quantity:{{ product.quantity }}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}