{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
    {% translate "Products list" %}
{% endblock %}

{% block body %}
  <h1>{% translate "Products" %}:</h1>
  {% if not products %}
    <h3> {% translate "There is no products yet" %} </h3>
  {% else %}
  <div>
      {% for product in products %}
        <div>
          <p>
            <a href="{% url 'shopapp:product_details' pk=product.pk %}">
              {% translate "Name" context 'product name' %}: {{ product.name }}
            </a>
            {% translate "price" %}: {{ product.price }},
            {% translate "quantity" %}: {{product.quantity }},
            {% translate "no discount" as no_discount %}
            {% translate "discount" %}: {% firstof product.discount no_discount %},
            {% translate "created by" %}: {{ product.created_by }}
            {% if product.preview %}
            <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
            {% else %}
            {% translate "preview: no image" %}
            {% endif %}
          </p>
        </div>
      {% endfor %}

  {% endif %}
  </div>

  {% if perms.shopapp.add_product %}
    <div>
      <a href="{% url 'shopapp:create_product' %}">
        {% translate "Create a new product" %}
      </a>
    </div>
  {% endif %}

{% endblock %}



