{% extends 'shopapp/base.html' %}

{% block title %}
    Products list
{% endblock %}

{% block body %}
  <h1>Products:</h1>
  {% if not products %}
    <h3> There is no products yet </h3>
  {% else %}
  <div>
      {% for product in products %}
        <div>
          <p> Name: {{ product.name }},
            price: {{ product.price }},
            quantity: {{product.quantity }},
            discount: {% firstof product.discount 'no discount' %}
          </p>
        </div>
      {% endfor %}

  {% endif %}
  </div>
{% endblock %}